.App{
  max-width: 860px;
  margin: 40px auto;
}

button {
  background: black;
  border: 2px solid rgb(10, 144, 97);
  padding: 6px 12px;
  border-radius: 4px;
  color: rgb(229, 207, 207);
  font-weight: 600;
  cursor: pointer;
  font-size: 1em;
}

button:hover{
  background: greenyellow;
  color: rgb(55, 120, 176);
}